{% extends "layout.html" %}
{% block head %}
    <style>
        td{
            position: center;
        }
    </style>
{%endblock%}


{% block body %}
    requests here
    <table>
        <tr>
            <th>book name</th>
            <th>book url</th>
            <th>inquirer location</th>
            <th>resp</th>
        </tr>

        {% for request in requests_info %}
            <tr>
                <td>{{request.book_name}}</td>
                <td>{{request.book_url}}</td>    <!-- dict's values are taken via . sntx-->
                <td>{{request.user_city}}</td>
                <td>
                    <form action="{% url 'main:responds' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="respond">
                    </form>
                </td>
            </tr>
        {%empty%}
            No requests
        {%endfor%}
    </table>
{% endblock %}